<div class="container">
  <mat-toolbar color = "secondary">
  <span>{{title}}</span>
  <a mat-raised-button color="primary" type = "button" routerLink="/login">Login</a>
  <a mat-raised-button color="primary" type = "button" routerLink="/sign-up">Sign Up</a>
  <a mat-raised-button color="primary" type = "button" routerLink="/highscore">Hisgscore</a>
  <a mat-raised-button color="primary" type = "button" routerLink="/profile">My Profile</a>
  <a mat-raised-button color="primary" type = "button" routerLink="/faq">FAQ</a>
  </mat-toolbar>
</div>
  
  <router-outlet></router-outlet>