<div class="container-fluid faq">
  <h2>Frequently asked questions</h2>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> How do I play the game? </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Via the game Tab you can reach the game. Choose the puzzle you want to solve. The goal is to order the pieces
      of the puzzle to a visually pleasing image by clicking the first piece and
      swapping it with the piece you click next until you finish the puzzle.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> How do I change my userdata? </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      A change of the data provided during the sign up is not possible within the
      Webapplication. To change the data please contact
      if20b008@technikum-wien.at.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        I cannot log myself in, what should I do?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      If you cannot log yourself in you are either using the wrong userdata or
      you are not signed up correctly. In order to Sign up please visit the Sign
      up tab on top.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> I forgot my password, what do I do? </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Unfortunately there is no funcionality to get your password via the
      Webapplication. Please contact us via if20b008@technikum-wien.at for further
      instructions.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        I can not see my highscore on the page, what happened?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      If you cannot see your Highscore with the correct username or not at all
      please check if you were logged in correctly and reload the page. If you
      cannot find a solution after reloading the page contact
      if20b008@technikum-wien.at.
    </p>
  </mat-expansion-panel>
</div>
