
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img style ="padding: 15px;" src ="assets/img/puzzle_logo.png"></a>
    <button class="navbar-toggler" type="button" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarSupportedContent" style="text-align: center;"> 
        <ul class="navbar-nav">
        <li><a mat-button color="primary" class="nav-link nav-button" routerLink="/game">Game</a></li>
        <li><a mat-button color="primary" class="nav-link nav-button" routerLink="/login">Login</a></li>
        <li><a mat-button color="primary" class="nav-link nav-button" routerLink="/sign-up">Sign Up</a></li>
        <li><a mat-button color="primary" class="nav-link nav-button" routerLink="/highscore">Highscore</a></li>
        <li><a mat-button color="primary" class="nav-link nav-button" routerLink="/profile">My Profile</a></li>
        <li><a mat-button color="primary" class="nav-link nav-button" routerLink="/faq">FAQ</a></li>
      </ul>
    </div>
  </nav>


















