<h2>My Profile</h2>

<!--Plain Test HTML to check values from DB-->
<table>
    <tr>
        <td>Email:</td>
        <td>{{profileData.email}}</td>
    </tr>
    <tr>
        <td>Username:</td>
        <td>{{profileData.username}}</td>
    </tr>
    <tr>
        <td>Company:</td>
        <td>{{profileData.company}}</td>
    </tr>
    <tr>
        <td>City:</td>
        <td>{{profileData.city}}</td>
    </tr>
    <tr>
        <td>Street:</td>
        <td>{{profileData.street}}</td>
    </tr>
    <tr>
        <td>Postcode:</td>
        <td>{{profileData.postcode}}</td>
    </tr>
    <tr>
        <td>Highscore:</td>
        <td>{{profileData.highscore}}</td>
    </tr>
</table>