<div class="container-fluid profile">
    <h2>My Profile</h2>
    <mat-card>
        

<!--not so Plain anymore Test HTML to check values from DB-->

        <mat-card-title class ="title">Email</mat-card-title>
        <!--<mat-card-subtitle>Test this</mat-card-subtitle>-->
        <mat-card-subtitle>{{profileData.email}} </mat-card-subtitle>
        <mat-divider></mat-divider>
    
        <mat-card-title class ="title">Username</mat-card-title>
        <!--<mat-card-subtitle>Test this</mat-card-subtitle>-->
        <mat-card-subtitle>{{profileData.username}}</mat-card-subtitle>
        <mat-divider></mat-divider>

    
    
        <mat-card-title class ="title">Company</mat-card-title>
        <mat-card-subtitle>{{profileData.company}}</mat-card-subtitle>
        <mat-divider></mat-divider>

    
    
        <mat-card-title class ="title">City</mat-card-title>
        <mat-card-subtitle>{{profileData.city}}</mat-card-subtitle>
        <mat-divider></mat-divider>

    
    
        <mat-card-title class ="title">Street</mat-card-title>
        <mat-card-subtitle>{{profileData.street}}</mat-card-subtitle>
        <mat-divider></mat-divider>

    
    
        <mat-card-title class ="title">Postcode</mat-card-title>
        <mat-card-subtitle>{{profileData.postcode}}</mat-card-subtitle>
        <mat-divider></mat-divider>

    
    
        <mat-card-title class ="title">Highscore</mat-card-title>
        <mat-card-subtitle>{{profileData.highscore}}</mat-card-subtitle>
        <mat-divider></mat-divider>

    

</mat-card>

</div>