<h2 id="timer"></h2>

<div id="choosePuzzle">
    <div id="puzzle1"></div>
    <div id="puzzle2"></div>
</div>

<div id="puzzle">
    <!--.<mat-grid-list cols='3' rowHeight='3:1'>
        <mat-grid-tile> <img pos='9' id = '1' src='assets/puzzle1_imgs/img9.jpg'> </mat-grid-tile>
        <mat-grid-tile> <img pos='8' id = '2' src='assets/puzzle1_imgs/img8.jpg'> </mat-grid-tile>
        <mat-grid-tile> <img pos='4' id = '3' src='assets/puzzle1_imgs/img4.jpg'> </mat-grid-tile>
        <mat-grid-tile> <img pos='2' id = '4' src='assets/puzzle1_imgs/img2.jpg'> </mat-grid-tile>
        <mat-grid-tile> <img pos='6' id = '5' src='assets/puzzle1_imgs/img6.jpg'> </mat-grid-tile>
        <mat-grid-tile> <img pos='5' id = '6' src='assets/puzzle1_imgs/img5.jpg'> </mat-grid-tile>
        <mat-grid-tile> <img pos='7' id = '7' src='assets/puzzle1_imgs/img7.jpg'> </mat-grid-tile>
        <mat-grid-tile> <img pos='1' id = '8' src='assets/puzzle1_imgs/img1.jpg'> </mat-grid-tile>
        <mat-grid-tile> <img pos='3' id = '9' src='assets/puzzle1_imgs/img3.jpg'> </mat-grid-tile>
    </mat-grid-list>

    <ul class="mdc-image-list puzzleGrid">
        <li class="mdc-image-list__item">
            <div class="mdc-image-list__image-aspect-container">
                <img class="mdc-image-list__image" src="assets/puzzle1_imgs/img9.jpg">
            </div>
        </li>
        <li class="mdc-image-list__item">
            <div class="mdc-image-list__image-aspect-container">
                <img class="mdc-image-list__image" src="assets/puzzle1_imgs/img8.jpg">
            </div>
        </li>
        <li class="mdc-image-list__item">
            <div class="mdc-image-list__image-aspect-container">
                <img class="mdc-image-list__image" src="assets/puzzle1_imgs/img7.jpg">
            </div>
        </li>
        <li class="mdc-image-list__item">
            <div class="mdc-image-list__image-aspect-container">
                <img class="mdc-image-list__image" src="assets/puzzle1_imgs/img6.jpg">
            </div>
        </li>
        <li class="mdc-image-list__item">
            <div class="mdc-image-list__image-aspect-container">
                <img class="mdc-image-list__image" src="assets/puzzle1_imgs/img5.jpg">
            </div>
        </li>
        <li class="mdc-image-list__item">
            <div class="mdc-image-list__image-aspect-container">
                <img class="mdc-image-list__image" src="assets/puzzle1_imgs/img4.jpg">
            </div>
        </li>
    </ul> -->
</div>